main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
	text-align:center;
}


nav
{
	width : 20%;
	border : 1px solid blue;
}
section
{
	border : 1px solid blue;
	width: 78%;
	margin-left: 75px;
	position: relative;
	left: 100px;
	bottom: 115px;
}




